{% extends "internationaleregler/base.html" %}
{% block title %}
<div class="jumbotron text-center">
    <h1>Internationale Bordet Fanger Regler</h1>
</div>

{% endblock title %}

{% block content %}

<div> 
    <ul class="list-group mt-5 text-center">
        <li class="list-group-item">Man kan kun kalde bordet fanger på en person, dvs. ikke et "vi"</li>
        <li class="list-group-item">Hvis man vil sige "aldrig alene" skal det være det første man siger, og det skal siges lige efter man er blevet fanget</li>
        <li class="list-group-item">Man kan ikke blive bordet fanger på et citat</li>
        <li class="list-group-item">Man kan ikke blive bordet fanger på at synge med på en sang</li>
        <li class="list-group-item">Hvis man bryder en bordet fanger skylder man et øltårn i KB</li>
    </ul>
    <h3 class="text-center mt-3 p-0">Online bordet fanger regler</h3>
    <ul class="list-group mt-0 text-center mt-0">
        <li class="list-group-item">Du kan stadig blive fanget ved at skrive noget i en chat, hvorefter en anden skriver bordet fanger</li>
        <li class="list-group-item">For at sige aldrig alene til en tekst bordet fanger skal du skrive "aldrig alene" som det første når du ser beskeden</li>
        <li class="list-group-item">Tiden der må gå til at du stadig kan sige aldrig alene er max 30 minutter</li>
    </ul>
    {% comment %} <h3 class="text-center">Silas er dum</h3> {% endcomment %}
</div>
{% endblock content %}
