{% extends "internationaleregler/base.html" %}
{% block title %}
<div class="jumbotron text-center">
    <h1>Drengene fra Angora Drukspillet</h1>
</div>

{% endblock title %}

{% block content %}
<div class="mb-5">
    <p>Hvad er det der gør drengene så specielle? er det ikke bare en eller anden gammel dansk satireserie, som alle har fortrængt i minderne? 
        Jo, det er meget vel muligt at drengene fra Angora ikke just er det første der springer i tankerne på dig, når du bliver nævnt Danmarks Radio. Men det du med garanti har fortrængt i din sølle hukommelse er, at drengene fra Angora uden den mindste form for tvivl, er det bedste danske satireprogram igennem tiderne.
        
        
        Du vil igennem de næste 12 timer stifte bekendskab med alle mulige kulturelle perlerækker, i form at fantastiske kulisser som symboliserer de mange facetter af det at være dansker, det er lige fra de to top professionelle cykelatleter: Bobby Olsen og Pim de Keysergraat, den yderst humoristiske huskomiker Dan, In-house pianisten Henrik Solgaard og ikke mindst værten; der igennem sin charme og lækre bløde stemme vil styre dig igennem denne kulturskat: Simon Kvamm.
        
        
        Dette drukspil er lavet, for samle os om vores alle sammens "Drengene fra Angorra", om end du er helt ny og starter stille og roligt ud, eller om du har set showet så mange gange, at du ved hvor meget snaps du skal drikke i den sidste episode, er der naturligvis plads til alle. Det sidste der er tilbage er blot at nævne:
        <i> Så det er bare at læne sig tilbage med sin lunke harboe, smække benene op og nyde denne kulturskat fra Danmarks Radio.</i></p>
</div>
        
<div class="card text-center bg-success">
    <div class="card-header">
        Du står da ikke og putter lort i maden?
    </div>
    <div class="card-body">
      <p class="card-text">Til dig der måske ser denne skønhed af en serie for første gang i dit sørgelige liv, er der lavet disse regler. Så bliver du hverken for vissen til at nyde forestillingen, men samtidig ikke er ædruelig nok til at kunne finde hjem efter 12 timer i selskab med drengene.</p>
    </div>
  </div>
<div class="mb-5"> 
    <ul class="list-group">
        <li class="">Man kan kun kalde bordet fanger på en person, dvs. ikke et "vi"</li>
        <li class="">Hvis man vil sige "aldrig alene" skal det være det første man siger, og det skal siges lige efter man er blevet fanget</li>
    </ul>
</div>
<div class="bg-warning text-center">
    <h1>Medium niveau</h1>
</div>
<div class="bg-danger text-center">
    <h1>Big balls niveau</h1>
</div>
{% endblock content %}
