{% extends "internationaleregler/base.html" %}
{% load tz %}
{% block title %}
<div class="text-center">
    <h1>Racismelisten</h1>
</div>
{% endblock title %}

{% block content %}

<div class="text-center">
    <h1 class="text-center">
        Leaderboard
    </h1>
    
    
    {% for user in users %}
    
    <h4 class="">
        {{ user }}: {{ user.points}}
    </h4>
    {% endfor %}
</div>

{% for rp in rps %}

<div class="mb-3">
  <ul class="list-group">
    <li class="list-group-item">Beskrivelse: {{ rp.description }}</li>
    <li class="list-group-item">Person: {{ rp.user }}</li>
    <li class="list-group-item">Point: {{ rp.points }}</li>
    {% timezone "Europe/Paris" %}
      <li class="list-group-item">Dato: {{ rp.date_posted |date:"H:i , F d, Y"}}</li>
    {% endtimezone %}
  </ul>
</div>

{% endfor %}

<div class="text-right">
  <a class="btn btn-primary" href="{% url 'racismelisten-create' %}">Create</a>
</div>


{% comment %} PAGINATION {% endcomment %}
{% if is_paginated %}
<nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <!-- <li class="page-item"><a class="page-link" href="?page=1">First</a></li> -->
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}


    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li> -->
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}

    {% endif %}
  </ul>
</nav>



{% endblock content %}
